/* global style */
body{
  font-family: 'Roboto', sans-serif;
  }
  :root {--brand-color: #212121;
  --second-color: #757575;
  --next-color: #ffffff;}
  .container{
    width: 1170px;
  margin: 0 auto;
padding: 0 15px;
border: solid red;}
.logo {
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(32 / 26);
  letter-spacing: 0.03em;
  color: #2196F3;
}
.web {
  color: black;
}
.butoon {
  cursor: pointer;
}
.hover-tup:hover,
:focus {
  color: #2196f3;
}
h1, h2, p{
  margin: 0

}

/* HW-01 */

/* header */

.page-header .container{
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
}
.page-header .logo{
 margin-right: 93px;
}
.header-list{
  display: flex;
}
.header-list .item:not(:first-child){
  margin-left: 50px;
}
.page-header{
  padding-top: 24px;
}
.header-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: black;
  margin-left: 50px;
}
.header-contakts{
  margin-left: auto;
  padding-top: 6px;

}
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

/* main */

.main {
  background-color: #2f303a;
}
.main-container{
padding-top: 200px;
  padding-bottom: 280px;
}
.main-section {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--next-color);
  margin: 0 auto;
  padding-bottom: 30px;
  max-width: 696px;
  
}
.main-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--next-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px 30px;
}
.hover-butoon:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* hero */

.hero-list{
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
}
.hero-list-item{
  padding-right: 30px;
  
}
.hero-link {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}
.hero-link-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* work */

.work-link {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  padding-bottom: 50px;
}

.work-img{
  width: calc((100% - 30px) / 3);
  margin-left: 30px;
}
.work .list{
  display: flex;
}
.work-img-list{
  padding-bottom: 94px;
}

/* team */

.team {
  background: #f5f4fa;
}
.team-link {
  background: var(--next-color);
  margin-left: 30px;
  
}
.team-line {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  padding-top: 94px;
  padding-bottom: 50px;
}
.all-team{
  padding-bottom: 94px;
}
.team .list {
  display: flex;
  gap: 30px;
  
}
.team-list {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-top: 30px;
  text-align: center;
  
}
.team-link-list {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--second-color);
  padding-bottom: 30px ;
  text-align: center;
}

/* footer */

.address{
  
  background-color: #2f303a;
}
.address .container{
  padding-top: 60px;
}
.address-link-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--next-color);
}
.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 60px;
}
.address .logo{
display: block;
padding-bottom: 20px;
}
.address-li{
  margin-bottom: 9px;
}

/* HW-02  */

.header-lynk {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.list-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--second-color);
}

/* project */

.project-text {
  font-weight: 500;
font-size: 16px;
line-height: 26px;

letter-spacing: 0.03em;
  color: var(--brand-color);
}
.project-list{
  display: flex;
  justify-content: center;
  padding-top: 94px;
  margin-bottom: 50px;
}
.project .butoon{
  margin-right: 8px;
}
.project-1st-button {
width: 73px;
height: 38px;
left: 512px;
top: 174px;
background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.project-2nd-butoon{
width: 125px;
height: 38px;
left: 593px;
top: 174px;

background: #F5F4FA;
border-radius: 4px;
}
.project-3d-butoon {
width: 112px;
height: 38px;
left: 726px;
top: 174px;
background: #F5F4FA;
border-radius: 4px;
}
.project-4r-butoon{
width: 103px;
height: 38px;
left: 846px;
top: 174px;
background: #F5F4FA;
border-radius: 4px;
}
.project-5v-butoon{
width: 130px;
height: 38px;
left: 957px;
top: 174px;
background: #F5F4FA;
border-radius: 4px;
}

.project-text {
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
  color: var(--brand-color);
}
.project-text-link {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--second-color);
  
}
.project-job{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 94px;
}

/* address */
.footer {
  background-color: #2f303a;
}
.adres-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--next-color);
}
.adres-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.web-2 {
  color: var(--next-color);
}
.footer .container{
  padding-top: 60px;
}
